:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-white: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  /* outline: 1px solid teal */
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;

  padding: 0 16px;

  @media screen and (min-width: 1158px) {
    padding: 0 15px;
  }

  @media screen and (min-width: 1158px) {
    width: 1158px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;

  @media screen and (min-width: 1158px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

img,
a {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  position: relative;

  border-bottom: 1px solid var(--color-cornflower);

  padding: 24px 0;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  @media screen and (min-width: 768px) and (max-width: 919px) {
    padding: 24px 0 11px 0;
  }

  @media screen and (min-width: 920px) and (max-width: 1157px) {
    padding: 24px 0 21px 0;
  }

  @media screen and (min-width: 1158px) {
    padding: 24px 0 28px 0;
  }
}

.head-nav {
  display: flex;
}
.navigation {
  display: flex;
}
.navigation-list,
.address {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.navigation-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--color-iris);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.navigation .navigation-logo {
  margin-right: 76px;
}

.head-logo {
  color: var(--color-navy-blue);
  display: contents;
}
.navigation-item:not(:last-child) {
  margin-right: 40px;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  margin-left: auto;
}

.address-item:not(:last-child) {
  @media screen and (max-width: 919px) {
    margin-bottom: 6px;
  }

  @media screen and (min-width: 920px) {
    margin-right: 40px;
  }
}

.address-link {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-style: normal;

  @media screen and (min-width: 920px) {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
.address-list {
  @media screen and (min-width: 920px) {
    display: flex;
    justify-content: space-between;
  }
}
.navigation-link:hover,
.navigation-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--color-ocean);
}

.accent {
  color: var(--color-ocean);
}

.accent::after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--color-ocean);
  pointer-events: none;

  @media screen and (min-width: 768px) {
    bottom: -12px;
  }

  @media screen and (min-width: 920px) {
    bottom: -22px;
  }

  @media screen and (min-width: 1158px) {
    bottom: -29px;
  }
}
.menu-btn {
  position: absolute;
  right: 16px;
  top: 24px;

  background-color: #fff;
  border: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.icon-menu {
  width: 32px;
  height: 22px;
}
.icon-charm {
  stroke: #2e2f42;
}
.menu-btn:hover .icon-charm {
  stroke: var(--color-ocean);
}
/* hero */
.hero {
  padding: 112px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bgi-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;

  background-color: var(--color-navy-blue);

  @media screen and (min-width: 768px) {
    padding: 112px 0 108px 0;
    height: 436px;
  }

  @media screen and (min-width: 1158px) {
    padding: 188px 0;
    height: 600px;
  }
}

.hero-title {
  margin-bottom: 72px;
  color: var(--color-white);
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1158px) {
    margin-bottom: 48px;
  }
}

.style-btn {
  cursor: pointer;
  border: 0 none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
}

.hero-btn {
  padding: 16px 32px;
  color: var(--color-white);
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 0);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-ocean);
}

/* moodal */
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;

  width: 100%;
  height: 100%;
  @media screen and (min-width: 400px) {
    width: 408px;
    height: auto;
  }

  border-radius: 4px;

  background-color: #fcfcfc;

  transform: translate(-50%, -50%);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
  background-color: var(--color-cornflower);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 0),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 0);
}

.modal-close:is(:hover, :focus) {
  background-color: var(--color-ocean);
  border-radius: 1px solid --color-ocean;
}

.modal-close:is(:hover, :focus) .modal-icon {
  fill: #ffffff;
}

.modal-icon {
  width: 8px;
  height: 8px;
  fill: #000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 0);
}

.title-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.field-form {
  display: flex;
  flex-direction: column;

  margin-bottom: 8px;
}

.field-form:nth-child(4) {
  margin-bottom: 16px;
}

.input-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #8e8f99;

  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.input {
  padding: 8px 16px 8px 38px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  height: 40px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #8e8f99;

  transition: border 250ms linear;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  width: 18px;
  height: 24px;

  fill: var(--color-navy-blue);

  transition: fill 250ms linear;
}

.input-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;

  padding: 8px 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #8e8f99;

  transition: border 250ms linear;
}

.input:focus {
  border: 1px solid #4d5ae5;
}

.input:focus + .input-icon {
  fill: var(--color-iris);
}

.input-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(117, 117, 117, 0.5);
}

.input-textarea:focus {
  border: 1px solid var(--color-iris);
}

.checkbox-field {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.visually-hidden:checked + .icon {
  background-color: var(--color-ocean);
  border: 1.25px solid var(--color-ocean);
}

.visually-hidden:focus + .icon {
  border: 1.25px solid var(--color-ocean);
}

.icon {
  width: 16px;
  height: 16px;

  margin-right: 8px;

  background-color: #fff;

  cursor: pointer;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  background-origin: border-box;
  fill: #fff;

  transition: background-color 250ms linear, border 250ms linear;
}

.checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
  margin-right: 4px;
}

.link-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;

  transition: color 250ms linear;
}

.link-form:is(:hover, :focus) {
  color: var(--color-ocean);
}

.btn-form {
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-iris);
  color: #ffffff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms linear;
}

.btn-form:hover,
.btn-form:focus {
  background-color: var(--color-ocean);
}

/* section 2 */
.quality {
  @media screen and (min-width: 1158px) {
    padding-bottom: 0;
  }
}
.quality .container {
  @media screen and (min-width: 768px) and (max-width: 1157px) {
    width: 768px;
  }
}
.quality-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

.quality-item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 72px;
    }
  }

  @media screen and (min-width: 428px) and (max-width: 767px) {
    width: 396px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    width: 356px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1158px) {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.quality-box {
  height: 112px;
  border-radius: 4px;
  background-color: var(--color-cloud);
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 8px;

  @media screen and (max-width: 1157px) {
    display: none;
  }
}

.quality-icon {
  width: 64px;
  height: 64px;
}

.quality-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;

  @media screen and (min-width: 1158px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.quality-descr {
  font-size: 16px;
  color: var(--color-slate);
  letter-spacing: 0.02em;
  line-height: 1.5;

  @media screen and (max-width: 1157px) {
    font-weight: 500;
  }
}

/* section 3 */
.our-work {
  @media screen and (max-width: 1157px) {
    display: none;
  }
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);

  margin-bottom: 72px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-item:not(:last-child) {
  margin-right: 24px;
}

/* section 4 */
.team {
  background-color: var(--color-cloud);
}
.team .container {
  @media screen and (min-width: 768px) and (max-width: 1157px) {
    width: 768px;
  }
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);

  margin-bottom: 72px;
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}

.team-item {
  background-color: var(--color-white);
  width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 72px;
    }
    margin: 0 auto;
  }
}

.team-item > img {
  max-width: 100%;
}

.box {
  padding: 32px 16px;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);

  margin-bottom: 8px;
}

.team-descr {
  color: var(--color-slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);

  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: var(--color-cloud);
  width: 16px;
  height: 16px;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--color-ocean);
}

/* section 5 */
.customers {
  text-align: center;
}
.customers .container {
  @media screen and (min-width: 428px) and (max-width: 767px) {
    width: 428px;
  }

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    width: 768px;
  }
}
.customers-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--color-navy-blue);
}

.customers-list {
  display: flex;

  @media screen and (max-width: 427px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 428px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  @media screen and (min-width: 768px) {
    gap: 24px;
  }
}

.customers-item {
  width: 190px;
  height: 88px;

  @media screen and (max-width: 428px) {
    margin-bottom: 30px;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    width: 168px;
    height: 88px;
  }
}

.customers-link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  border: 1px solid currentColor;

  color: var(--color-light-slate);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  width: 104px;
  height: 56px;

  fill: currentColor;
}

.customers-link:is(:hover, :focus) {
  color: var(--color-ocean);
}
/* mobile-menu*/
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  background-color: #ffffff;

  padding: 40px;
  padding-right: 35px;

  transform: translateX(100%);
  transition: transform 150ms linear;
}
.mobi-item {
  margin-bottom: 40px;
}
.mobi-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}
.mobi-item:hover .mobi-link {
  color: var(--color-ocean);
}
.mobi-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-style: normal;
  color: var(--color-iris);

  margin-bottom: 40px;
}
.mobi-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;

  color: var(--color-slate);
}
.mobi-adress {
  margin-bottom: 40px;
}
.container-adress .team-soc-list {
  justify-content: start;
  gap: 56px;

  @media screen and (max-width: 400px) {
    gap: 20px;
  }
}
/* footer */
.footer {
  background-color: var(--color-navy-blue);

  @media screen and (min-width: 1158px) {
    padding: 100px 0;
  }
}

.footer > .container {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    column-gap: 24px;
  }
  @media screen and (min-width: 768px) and (max-width:1157px) {
    padding: 0 108px;
  }
  @media screen and (min-width: 1158px) {
    display: flex;
    align-items: flex-start;
  }
}

.main-foot-box {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 1157px) {
    margin-bottom: 72px;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 120px;
  }
}

.footer .navigation-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-descr {
  color: var(--color-cornflower);
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

.foot-logo {
  color: var(--color-cloud);
  display: contents;
}
.sec-foot-box {
  @media screen and (max-width: 767px) {
    margin-bottom: 72px;
  }
}
.foot-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  width: 24px;
  height: 24px;
  fill: var(--color-cloud);
}

.footer-soc-link:is(:hover, :focus) {
  background-color: var(--color-green);
}

/* form-footer */
.sub {
  @media screen and (min-width: 1158px) {
    margin-left: auto;
  }
}

.sub-form {
  display: flex;
  @media screen and (min-width: 768px) {
    gap: 24px;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.sub-input {
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--color-navy-blue);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 398px;
  height: 40px;
  padding: 8px 16px;
  outline: none;

  @media screen and (max-width: 427px) {
    width: 264px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    width: 264px;
  }
}

.sub-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 165px;
  padding: 8px 24px;
  background-color: var(--color-iris);
  color: var(--color-white);

  transition: background-color 250ms linear;
}

.sub-btn:hover,
.sub-btn:focus {
  background-color: var(--color-ocean);
}

.sub-icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  fill: currentColor;
}

/* portfolio */
.examples {
  padding: 96px 0 120px 0;
}

.examples-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
  }
}

.examples-item:not(:last-child) {
  margin-right: 24px;
}

.example-btn {
  background-color: var(--color-cloud);
  color: var(--color-iris);
  padding: 12px 24px;
  border: 1px solid var(--color-cornflower);

  transition-property: background-color, color, border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.example-btn:hover,
.example-btn:focus {
  background-color: var(--color-ocean);
  color: var(--color-white);
  border: 1px solid var(--color-ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-work-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.examples-work-item {
  flex-basis: calc((100% - 48px) / 3);
}

.examples-work-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-work-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.examples-subtitle {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);

  margin-bottom: 8px;
}

.examples-descr {
  color: var(--color-slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.in-card {
  border-bottom: 1px solid var(--color-cornflower);
  border-left: 1px solid var(--color-cornflower);
  border-right: 1px solid var(--color-cornflower);

  padding: 32px 16px 32px 16px;
}

.visually-shift {
  position: relative;

  overflow: hidden;
}

.examples-work-link:is(:hover, :focus) .hidden-box {
  transform: translateY(0%);
}

.hidden-box {
  position: absolute;
  top: 0;
  left: 0;

  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);

  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-in-hidden {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
}

.volter {
  display: none;
  box-sizing: border-box;
}
